<div class="list-post">
  <p><%= comment.body %></p>
  <small>by <%= comment.commenter %> </small>
</div>

<button class="button is-warning">
  <%= link_to 'Destroy Comment', [comment.article, comment], method: :delete,
  data: { confirm: "Are you sure?" } %>

</button>