<h1 class="header">Articles</h1>

<button class="button is-primary" style="margin-left: 5rem;">
  <%= link_to "New Article", new_article_path %>
</button>

<ul class="container">
  <% @articles.each do |article| %>
  <li class="list-post"><%= link_to article.title, article %></li>
  <% end %>
</ul>
